#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 1rem;
  text-align: center;
}

.columns {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 2rem;
  align-items: start;
}

.column {
  padding: 1rem;
}

.task-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.task-item {
  border: 2px solid #999;
  border-radius: 8px;
  padding: 12px;
  margin-bottom: 12px;
  transition: background-color 0.3s ease, border-color 0.3s ease;
}

.priority-3 {
  border-color: #e74c3c;
  background-color: #e74c3c;
}

.priority-2 {
  border-color: #f39c12;
  background-color: #f39c12;
}

.priority-1 {
  border-color: #27ae69;
  background-color: #27ae69;
}

.task-item strong {
  display: block;
  font-size: 1.2rem;
  font-weight: 600;
  margin-bottom: 6px;
}

.add-btn, .submit-btn {
  background: #9200b3;
  color: white;
  padding: 0.6rem 1.2rem;
  cursor: pointer;
  margin-bottom: 12px;

}

.add-btn {
  margin-top: 25px;
}

.add-btn:hover, .submit-btn:hover {
  background: #f0f0f0;
  border-color: #9200b3;
  color: #9200b3;
}

.task-form {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
  margin: 1rem 0;
}

.task-form input, .task-form textarea {
  padding: 0.6rem;
  border-radius: 6px;
  border: 1px solid #ccc;
}

.priority-toggle {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.priority-toggle button {
  background: #f0f0f0;
  padding: 0.4rem 0.8rem;
  border-radius: 6px;
  cursor: pointer;
  color: #9200b3;
}

.priority-toggle button:hover {
  border-color: #f0f0f0;
}

.priority-toggle button.active:hover {
  border-color: #9200b3;
}

.priority-toggle button.active {
  background: #9200b3;
  color: white;
}
